.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.9);
  display: flex;
  justify-content: center;
}
.modal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 50px;
  width: 80%;
  height: 300px;
  background: #ddd;
}
.modal-action {
  color: rgb(247, 59, 59);
}
.modalcontrol {
  display: flex;
  justify-content: space-around;
}
