.news {
  margin: 20px;
}
.cardNews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.controlNews {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 10px;
}
.textNews {
  flex-basis: 80%;
  text-align: justify;
  margin-right: 10px;
}
